@font-face {
    font-family: 'arial';
    src: url('../../fonts/Ariel\ Script.ttf') format('true type');
}
.user-information *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'arial';
}
.user-information-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #EEF0E5;
}
.user-information .main {
    width: 100%;
}